<mat-card class="dirdem-info-cards" id="dirdem-fuse-bit-card">
  <div class="dirdem-card-headers">
    <h6 class="centered-text">Fuses</h6>
  </div>
  <div class="row d-flex align-items-center">
    <div class="col-8">
      <div *ngFor="let fuse of microcontroller.fuses" class="d-flex justify-content-between align-items-center">
        <span> {{ fuse.type }} </span>
        <span>
          <!--span *ngFor="let fr of fusesReaded">
            <span *ngIf="fr.type == fuse.type" class="outputResults" class="outputResults outputFuseReaded">
              {{ fr.value }}
            </span>
            <span *ngIf="!fusesReaded.length || fr.type != fuse.type" class="outputResults outputFuseReaded">
              N/A
            </span-->
          </span>
          <button class="dirdem-buttons" (click)="readFuse(fuse)"> read </button>
        </span>
      </div>
    </div>
    <div class="col-2">
      <button mat-icon-button (click)="openFuseBitComponent($event)" class="dirdem-icons">
        <mat-icon>settings</mat-icon>
      </button>
    </div>
  </div>
</mat-card>