<div *ngIf="microcontroller.name">
  <app-toolbar></app-toolbar>
</div>

<div class="dirdem-page-container">

  <app-micro-selector></app-micro-selector>

  <div *ngIf="microcontroller.name" class="row d-flex justify-content-around">
    <div class="col-md-1"></div>
    <div class="col-md-4 d-flex flex-column">
      <app-avr-technical-specification-card> </app-avr-technical-specification-card>
      <app-fuse-bit-card> </app-fuse-bit-card>
    </div>
    <app-micro-image-show class="col-md-6 d-flex align-items-center justify-content-center"> </app-micro-image-show>
    <div class="col-md-1"></div>
  </div>

</div>