<div *ngIf="microcontroller.avrMicrocontrollerBase">
  <app-toolbar></app-toolbar>
</div>

<div class="dirdem-page-container">

  <app-micro-selector></app-micro-selector>

  <div *ngIf="microcontroller.avrMicrocontrollerBase" class="row d-flex justify-content-around">
    <app-avr-technical-specification-card class="col-md-4"> </app-avr-technical-specification-card>
    <app-micro-image-show class="col-md-4 d-flex align-items-center justify-content-center"> </app-micro-image-show>
    <app-fuse-bit-card class="col-md-4"> </app-fuse-bit-card>
  </div>

</div>
