/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
/* color palette */

:root {
  --nerdPrimary: var(--cyan);
  --nerdAccent: greenyellow;
  --nerdDark: black;
  --nerdLight: white;
  --matPrimary: #3f51b5;
  --matAccent: #FF4081;
}

@font-face {
  font-family: DirdemCustomFont;
  src: url('assets/fonts/PressStart2P-Regular.ttf');
}

* {
  font-family: consolas;
}

html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: consolas;
}

body {
  margin: 0;
}

#dirdem-toolbar-container {
  display: flex;
  align-items: center;
  background-color: var(--matPrimary);
  height: 40px;
  border-bottom: solid 2px var( --nerdAccent);
  color: var(--nerdDark);
}

#spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--nerdPrimary);
  opacity: 0.5;
  z-index: 9999999;
}

.centered-text {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.bolder {
  font-weight: bolder;
}

.dirdem-output-results {
  color: var(--nerdAccent);
  background-color: var(--nerdDark);
  padding: 5px;
}

.dirdem-flashing-output-fuses {
  color: var(--nerdAccent);
  background-color: var(--nerdDark);
  padding: 5px;
  animation-name: flashingInput;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

.dirdem-output-fuse {
  width: 50px;
}

.dirdem-info-cards {
  display: flex;
  flex-direction: column;
  background-color: var(--matPrimary);
  color: var(--nerdLight);
  min-width: 280px;
  z-index: 1;
}

.dirdem-card-headers {
  background-color: var(--nerdPrimary);
  color: var(--nerdAccent);
}

.dirdem-page-container {
  margin-top: 30px;
  padding: 10px;
}

.dirdem-buttons {
  height: 30px;
  border: solid 2px var(--nerdAccent);
}

.dirdem-buttons:hover {
  cursor: pointer;
  background-color: var(--matAccent);
  color: var(--nerdAccent);
  border: solid 2px var(--nerdPrimary);
}

.dirdem-technical-specification-values {
  color: var(--nerdAccent);
}

.dirdem-technical-specification-overviews {
  color: var(--nerdLight);
}

.dirdem-icons {
  cursor: pointer;
  color: var(--nerdLight);
}

.dirdem-icons:hover {
  cursor: pointer;
  color: var(--matAccent);
}

.dirdem-clickable-link {
  color: var(--nerdLight);
  animation-name: fadeInOpacity;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-duration: 1s;
}

.dirdem-clickable-link:hover {
  animation-name: none;
  cursor: pointer;
  background-color: var(--matAccent);
  color: var(--nerdAccent);
}

.dirdem-toolbar-icon-buttons {
  font-size: 20px;
  height: 100% !important;
  width: 100% !important;
}

#dirdem-fuse-bit-card {
  margin-top: 10px;
}

/**
* Animazioni
*/

@keyframes fadeInOpacity {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flashingInput {
  0% {
    color: var(--nerdDark);
    background-color: var(--nerdAccent);
  }
  50% {
    color: var(--nerdAccent);
    background-color: var(--nerdDark);
  }
}
