/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

/* color palette */
:root {
  --lightPrimary: #C5CAE9;
  --primary: #3F51B5;
  --accent: #FF4081;
  --text: #212121;
  --textLight: #FFFFFF;
  --warn: #f44336;
  --nerdBackground: black;
  --nerdText: greenyellow;
}

html {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--textLight);
}

#spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightPrimary);
  opacity: 0.5;
  z-index: 9999999;
}

/* per nascondere barra laterale scrolling quando compare il popup */
.cdk-global-scrollblock {
  overflow: hidden !important;
}

.backgroundLightPrimary {
  background-color: var(--lightPrimary);
}

.colorText {
  color: var(--text);
}

.colorTextLight {
  color: var(--textLight);
}

.centerText {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.colorAccent {
  color: var(--accent);
}

.colorPrimary {
  color: var(--primary);
}

.verticalColSpacing {
  height: 15px;
}

.flexDisplay {
  display: flex;
}

.bolder {
  font-weight: bolder;
}


/**/
.infoCards {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  z-index: 1;
}

.cardTitle {
  font-size: 17px;
  font-weight: 700 !important;
  text-align: center !important;
  margin-bottom: 15px !important;
}
