<div id="dirdem-toolbar-container">
  <button mat-icon-button (click)="selectAndCompileCProject()"  class="dirdem-icons" matTooltip="Build .C file">
    <mat-icon>build</mat-icon>
  </button>

  <button mat-icon-button (click)="burnCProject()" class="dirdem-icons" matTooltip="Flash .hex file">
    <mat-icon>flash_on</mat-icon>
  </button>

  <span class="dirdem-output-results" *ngIf="linkToHexFile">
    {{ linkToHexFile }}
  </span>

  <button mat-icon-button (click)="burnArduinoUnoBootloader()"  class="dirdem-icons" matTooltip="Burn Arduino UNO bootloader"
   style="position: absolute; right: 0;" [disabled]="microcontroller.name != atmega328Name">
    <mat-icon>whatshot</mat-icon>
  </button>

</div>
