#closeButton:hover {
    cursor: pointer;
    color: var(--primary);
}

#logMessageContainer {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20%;
    left: 25%;
    max-height: 60%;
    width: 50%;
    z-index: 999999;
    background-color: var(--textLight);
    color: var(--text);
    padding: 15px;
    box-shadow: 2px 2px 10px 0px var(--dark);
}

#closeButton {
    text-align: end;
}