.configWidth {
    width: 200px;
}

.configButtons {
    margin-top: 20px;
    margin-bottom: 50px;
}

#configContainer >* {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#mainTitle {
    margin: auto;
    width: fit-content;
    margin-block-start: 10px;
    margin-block-end: 50px;
}

#configsTable {
    width: 90%;
    margin: auto;
}

#setConfigsDiv {
    width: 100%;
    display: flex;
    justify-content: center;
}
