<mat-card class="dirdem-info-cards">

  <div class="dirdem-card-headers">
    <h6 class="centered-text">Avr Technical Specifications</h6>
  </div>

  <!-- Data bus (architecture) & datasheet -->
  <div>
    <span class="dirdem-technical-specification-overviews">
      {{ microcontroller.dataBus.value }} -
      {{ microcontroller.dataBus.measureUnit }} Microcontroller
    </span>
  </div>
  <!-- Datasheet -->
  <div>
    <a href="{{ microcontroller.datasheetUrl }}" class="dirdem-clickable-link"> Official
      datasheet
    </a>
  </div>
  <!-- Name -->
  <div>
    <span> Name: </span> <span class="dirdem-technical-specification-values">
      {{ microcontroller.name }} </span>
  </div>
  <!-- Family -->
  <div>
    <span> Family: </span> <span class="dirdem-technical-specification-values">
      {{ microcontroller.family }} </span>
  </div>
  <!-- Memory segments -->
  <div>
    <span> Memory Segments: </span>
    <div *ngFor="let segment of microcontroller.memorySegments">
      <li class="dirdem-technical-specification-values">
        {{ segment.memorySegmentName }}: {{ segment.memorySegmentValue.value }}
        {{ segment.memorySegmentValue.measureUnit }}
      </li>
    </div>
  </div>
  <!-- I/O -->
  <div>
    <span> Pin (package
      <span [ngClass]="{'dirdem-flashing-output': flashPackageOutput}"> {{ microcontrollerPackage }}</span>
      ):
    </span>
    <span class="dirdem-technical-specification-values">
      {{ microcontrollerPinCount }} ({{ microcontrollerIoLines }} Programmable I/O Lines)
    </span>
  </div>
  <!-- Speed grades -->
  <div>
    <span> Speed grades (Max): </span>
    <span class="dirdem-technical-specification-values">
      {{ microcontroller.electricalCharateristics.clockFrequencyMaxValue.frequencyValue }}
      {{ microcontroller.electricalCharateristics.clockFrequencyMaxValue.frequencyMeasureUnit }}
    </span>
  </div>
  <!-- Operating voltages -->
  <div>
    <span> Operating voltages: </span>
    <span class="dirdem-technical-specification-values"> {{ operatingVoltagesStringify }} </span>
  </div>

</mat-card>
