#legendRow {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    opacity: 0.6;
    font-style: italic;
}

#fuseTable {
    width: 100%;
}

#buttonContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowPadding {
    padding-left: 24px;
}